
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to apartmentQuirks.com, <%= @user.username %></h1>
    <p>If you have any questions feel free to reach out to our customer service team at service@apartmentquirks.com</p>
    <br/>
    <p>You can login here: <%= @url %> and start adding Quirks!</p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>