$primary: steelblue;
$primary--dark: #112f25;
$primary--light: lightblue;
$blue: rgba(14, 47, 90, 0.07);
$textColor--black: rgba(0, 0, 0, 0.75);
$button--primary: orange;
$error--primary: #ff7f7f;

// $grey:
$dark-grey: #e0e0e0;
$light-grey: #fafafa;
$grey: #f6f6f6;
$grey-green: #f1f8f5;
