// $green: rgba(59, 152, 114, 1);
$primary: #3b9872;
$primary--dark: #112F25;
$primary--light: #daf1e7;
$blue: rgba(14, 47, 90, 0.07);

// $grey:
$dark-grey: #e0e0e0;
$light-grey: #fafafa;
$grey: #f6f6f6;
$grey-green: #f1f8f5;
