@mixin greyButton {
  border: 2px solid #f1f1f1;
  border-radius: 0px;
  padding: 6px;
  color: grey;
  background-color: white;
}

@mixin formInput {
  width: 290px;
  height: 40px;
  border-radius: 3px;
  padding-left: 10px;
  text-align: left;
  margin: 0 auto;
  font-size: 15px;
  color: $primary;
  box-shadow: 1px 1px 1px lightgrey;
  border-radius: 5px;
}