@import './base/colors';

.apartment-show {
  display: block;
  float: left;
  width: 25%;
  background-color: white;
  margin-right: 17px;
  margin-left: 12%;
  padding: 15px;
  box-shadow: 1px 1px 1px #ccc;
  border-radius: 10px 0px 0px 10px;
  margin-top: 17px;
  min-width: 350px;
}

.apartment-show h1 {
  font-weight: bold;
  width: 100%;
  color: $dark-green;
  padding-left: 10px;
}

.city-state-zip {
  font-weight: bold;
  width: 70%;
  margin-bottom: 10px;
  color: $dark-green;
  padding: 10px;
}

.like-button,
.like-count {
  display: block;
  float: left;
  padding-right: 5px;
}

.like-error-message {
  display: block;
  float: left;
  font-size: 16px;
  color: #363cb6;
  font-weight: bold;
  margin-top: 4px;
  margin-left: 5px;
}

.apartment-map {
  margin-bottom: 10px;
}

.like-count {
  margin-top: 5px;
  color: $green;
}

.liked-button {
  background-color: $green;
  color: white;
}

.liked-button:hover {
  font-size: 14px;
}

#map-container {
  height: 300px;
  width: 300px;
  padding-bottom: 20px;
  border: solid 5px $light-grey;
  padding: 15px;
}

.apartment-show-container {
  min-width: 950px;
}


@media only screen and (max-width: 1080px) {

  #map-container {
    height: 400px;
    width: 400px;
    margin-bottom: 10px;
  }

  .apartment-map {
    width: 350px;
    margin: 0px;
  }

  .apartment-show {
    width: 450px;
    margin: 0 auto;
    margin-top: 17px;
    float: none;
    min-width: 310px;
    border-radius: 10px;
  }

  .city-state-zip {
    width: 150px;
    margin-right: 0px;
  }

  .address {
    width: 250px;
  }

  .quirks-index-container {
    min-width: 100%;
    width: 380px;
  }

  .search-form {
    display: none;
  }

  .apartment-show-container {
    min-width: 480px;
  }

}

@media only screen and (max-width: 1080px) {

  #map-container {
    height: 350px;
    width: 350px;
    margin-bottom: 10px;
  }

  .apartment-map {
    width: 350px;
    margin: 0px;
  }

  .apartment-show {
    width: 400px;
    margin: 0 auto;
    border-radius: 10px;
  }

  .address {
    width: 250px;
  }

  .quirks-index-container {
    min-width: 100%;
    width: 380px;
  }

  .search-form {
    display: none;
  }

  .apartment-show-container {
    min-width: 480px;
    margin-top: 17px;
  }
}

@media screen and (max-width: 425px) {

  #map-container {
    height: 250px;
    width: 250px;
    margin-bottom: 10px;
  }

  .apartment-map {
    width: 250px;
    height: 250px;
    margin: 0px;
  }

  .city-state-zip {
    width: 150px;
    margin-right: 0px;
  }

  .address {
    width: 250px;
  }

  .quirks-index-container {
    min-width: 100%;
    width: 380px;
}

  .search-form {
    display: none;
  }

  .apartment-show-container {
    width: 80%;
    max-width: 425px;
    min-width: 300px;
    display: block;
    margin: 0 auto;
    margin-top: 17px;
  }

  .apartment-show {
    width: 280px;
    max-width: 280px;
    min-width: 280px;
    border-radius: 10px;
    height: 430px;
    margin: 0 auto;
  }

  .address {
    margin: 0px;
  }

  .like-button {
    margin-top: 60px;
    margin-right: 0px;
  }

  .like-count {
    margin: 0px;
    margin-top: 66px;
    margin-left: 5px;
  }

}

@media screen and (max-width: 321px) {

  .apartment-show-container {
    width: 100%;
    max-width: 320px;
  }

  .apartment-show {
    width: 20%;
    max-width: 300px;
    min-width: 280px;
  }

  .address {
    margin-right: 0px;
  }

}
