@import '../base/colors';

footer {
  background-color: $light-green;
  height: 300px;
}

.footer-logo img {
  display: none;
}

.footer-pic {
  display: inline-block;
}

.footer-logo-text {
  display: inline-block;
  color: $green;
  font-size: 50px;
}

.footer-logo {
  width: 400px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.footer-copyright {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  color: $green;
}

.footer-content {
  padding-top: 80px;
  margin-top: 200px;
}

.copyright {
  font-family: arial;
}

.footer-nav {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 60px;
  background-color: red;
}

.footer-nav li {
  display: block;
  float: left;
  margin-left: 25px;
  padding: 8px;
  font-size: 15px;
}

.footer-nav li:hover {
  cursor: pointer;
  border-radius: 3px;
  background-color: $green;
  color: white;
}

@media screen and (max-width: 480px) {
  .footer-logo-text {
    font-size: 40px;
  }

  .footer-logo img {
    width: 40px;
  }

  .footer-content {
    margin-top: 200px;
  }

}
