@import '../base/colors';

footer {
  background-color: $light-grey;
  height: 300px;
}

.footer-logo img {
  width: 100px;
}

.footer-pic {
  display: inline-block;
}

.footer-logo-text {
  display: inline-block;
  color: #ececec;
  font-size: 100px;
}

.footer-logo {
  text-align: center;
}

.footer-copyright {
  text-align: center;
  color: #b9b9b9;
}

.footer-content {
  padding-top: 80px;
  margin-top: 200px;
}

.copyright {
  font-family: arial;
}

@media screen and (max-width: 480px) {
  .footer-logo-text {
    font-size: 40px;
  }

  .footer-logo img {
    width: 40px;
  }
}
