@import '../base/colors';

.nav-left li {
  float: left;
  margin-top: 13px;
  margin-left: 16px;
  margin-right: 10px;
}

.logo {
  display: flex;
}

.logo-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  border-radius: 5px;
  background-color: $primary;
}

.logo-icon-letter {
  color: white;
  font-size: 30px;
  font-weight: 800;
}

.logo-text {
  color: $primary;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 3px;
  font-weight: 800;
  letter-spacing: -1.5px;
  font-size: 25px;  
}

.nav-left img {
  width: 38px;
  display: block;
  float: left;
  margin-top: 0px;
}

.nav-middle li {
 width: 450px;
 float: left;
 display: none;
}

.nav-right {
  display: inline-block;
  text-align: center;
  height: 45px;
  float: right;
  margin-right: 10px;
}

.nav-link {
  font-family: Tahoma, Geneva, sans-serif;
  float: right;
  text-align: center;
  margin-left: 5px;
  margin-top: 14px;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
  color: black;
  font-size: 14px;
  letter-spacing: 1px;
}

.guest {
  background-color: $primary;
  color: white;
}

@media screen and (min-width: 750px) {
  .nav-link {
    color: black;
  }
}

.nav-link-pic {
  float: right;
  margin-top: 4px;
  margin-left: 5px;
  padding: 7px;
  position: relative;
}

.nav-link-pic:hover {
  cursor: pointer;
}

.nav-icon {
  display: none;
}

.dropdown-class {
  position: absolute;
  background-color: white;
  border: 1px solid lightgrey;
  left: -175px;
  top: 60px;
  border-radius: 5px;
  width: 220px;
  height: 140px;
  box-shadow: 1px 1px 1px #ccc;
}

.dropdown-user-info {
  width: 100%;
  height: 70%;
}

.dropdown-logout-section {
  display: block;
  height: 41.5px;
  width: 100%;
  margin-bottom: 0px;
  border-radius: 0px 0px 5px 5px;
  background-color: #fafafa;
  border-top: 1px solid #f1f1f1;
}

.dropdown-logout-button {
  border: 2px solid #f1f1f1;
  border-radius: 0px;
  padding: 6px;
  color: grey;
  background-color: white;
  margin-top: 4.5px;
  margin-right: 5.5px;
  display: block;
  float: right;
}

.dropdown-logout-button:hover {
  border: 2px solid $primary--light;

}

.dropdown-username {
  display: block;
  float: left;
  margin: 5px;
  color: $primary;
  font-size: 20px;
  padding-bottom: 5px;
  margin-top: 15px;
  cursor: default;
}

.dropdown-my-profile {
  position: relative;
  top: -35px;
  left: 93px;
  padding: 8px;
  background-color: $primary;
  border: 1px solid $primary--light;
  border-radius: 5px;
  display: block;
  float: left;
  clear: both;
  color: white;
}

.dropdown-my-profile:hover {
  color: $primary--light;
}

.dropdown-image {
  display: block;
  float: left;
  width: 70px;
  height: auto;
  margin-top: 5px;
  cursor: default;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

.dropdown-triangle {
  border-radius: 0;
  width: 30px;
  height: 18px;
  display: block;
  float: right;
  position: relative;
  top: -14px;
  left: -4px;
}

.nav {
  list-style: none;
}

.nav-right button {
  margin-top: 6px;
}

.nav-right img {
  border-radius: 100%;
}

.header-profile-pic {
  width: 40px;
  border-radius: 100%;
}

.header {
  background-color: white;
  transition: background-color 2s;
  height: 60px;
  color: white;
  box-shadow: 5px 0px 2px black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

//search bar

#autocomplete {
  border: solid 1px $primary;
}

.fa-search {
  color: white;
  height: 10px;
  padding-left: 2px;
}

.search-button:hover {
  border: none;
}

.search-button {
  border: none;
  border-radius: 0px 5px 5px 0px;
  width: 30px;
  height: 20px;
  margin-left: 0px;
  padding-left: 0px;
  background-color: $primary;
}

.search-input {
  width: 280px;
  height: 30px;
  border-radius: 5px;
  padding-left: 5px;
}

#maginifine-glass {
  margin-top: -5px;
}

.search-form {
  display: grid;
  grid-template-columns: 4.5fr 1fr;
  width: 350px;
  margin-top: 14.5px;
  padding-left: 100px;
}

.nav-link:hover {
  background-color: $primary;
  color: white;
}

.logo:hover {
  cursor: pointer;
}

.logout {
  display: none;
}

@media screen and (max-width: 515px) {

  .nav-left h1 {
    font-size: 30px;
  }

  .nav-link-pic {
    display: none;
  }

  .logout {
    display: block;
  }

}

@media screen and (max-width: 1030px) {

    .nav-middle {
      display: none;
    }
}

@media only screen and (max-width: 750px) {

  .logout {
    display: block;
    text-align: center;
    padding: 8px;
    margin-top: 9px;
    margin-left: 3px;
  }

  .logout:hover {
    background-color: $primary;
    border-radius: 3px;
  }

  .nav-right {
    display: none;
  }

  .nav-right-reveal {
    display: block;
    height: 188px;
    float: right;
    margin-right: 10px;
    padding: 10px;
    background-color: white;
    position: absolute;
    right: 2px;
    top: 50px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px lightgrey;
    margin-top: 0px;
    z-index: 1;
  }

  .nav-link:hover {
    background-color: $primary;
  }

  .nav-link-pic {
    display: none;
  }

  .nav-link {
    float: none;
  }

  .nav-right img {
    display: none;
  }

  .nav-icon {
    display: inline-block;
    float: right;
    width: 30px;
    margin-right: 10px;
    margin-top: 15px;
    background-color: $primary;
    border-radius: 3px;
  }

  .nav-icon:hover {
    cursor: pointer;
  }

  .search-form {
    display: none;
  }

}

.guest:hover {
  color: white;
}

.opacity {
  background-color: white;
  transition: background-color 2s;
  height: 60px;
  color: $primary--dark;
  box-shadow: 5px 0px 2px black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
