@import '../base/colors';

.guest {
  background-color: #363cb6;
  color: white;
}

.nav-left li {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-left h1 {
  color: white;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 3px;
  display: block;
  float: left;
}

.nav-left img {
  width: 38px;
  display: block;
  float: left;
  margin-top: 0px;
}

.nav-middle li {
 width: 450px;
 float: left;
}

.nav-right {
  display: inline-block;
  text-align: center;
  height: 45px;
  float: right;
  margin-right: 10px;
}


.nav-link {
  float: right;
  text-align: center;
  margin-left: 5px;
  margin-top: 14px;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}

.nav-link-pic {
  float: right;
  margin-top: 4px;
  margin-left: 5px;
  padding: 7px;
  position: relative;
}

.nav-link-pic:hover {
  cursor: pointer;
}

.nav-icon {
  display: none;
}

.dropdown-class {
  position: absolute;
  background-color: white;
  border: 1px solid lightgrey;
  left: -155px;
  top: 55px;
  border-radius: 5px;
  width: 200px;
  height: 110px;
  box-shadow: 1px 1px 1px #ccc;
  padding: 10px;
}

.dropdown-logout-button {
  border: 2px solid $green;
  border-radius: 5px;
  padding: 7px;
  color: white;
  background-color: $green;
  margin-top: 14px;
  margin-right: 10px;
  display: block;
  float: right;
}

.dropdown-logout-button:hover {
  border: 2px solid $light-green;

}

.dropdown-username {
  display: block;
  float: left;
  margin: 5px;
  color: $green;
  font-size: 20px;
  padding-bottom: 5px;
  margin-top: 20px;
  cursor: default;

}

.dropdown-image {
  display: block;
  float: left;
  width: 70px;
  height: auto;
  margin-top: 5px;
  cursor: default;
}

.nav {
  list-style: none;
}

.nav-right button {
  margin-top: 6px;
}

.nav-right img {
  border-radius: 100%;
}

.header-profile-pic {
  width: 40px;
}

.header {
  background-color: $green;
  height: 60px;
  color: $dark-green;
  box-shadow: 1px 1px 1px grey;
}

//search bar

#autocomplete {
  border: solid 1px $green;
}

.fa-search {
  color: white;
  height: 10px;
  padding-left: 2px;
}

.search-button:hover {
  border: none;
}

.search-button {
  border: none;
  border-radius: 0px 5px 5px 0px;
  width: 30px;
  height: 20px;
  margin-left: 0px;
  padding-left: 0px;
  background-color: $green;
}

.search-input {
  width: 280px;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 3px;
  padding-left: 5px;
}

#magnifine-glass {
  margin-top: 10px;
}

.search-form {
  width: 350px;
  margin-top: 11px;
  padding-left: 100px;
}

.nav-link:hover {
  background-color: $light-green;
}

.logo:hover {
  cursor: pointer;
}

.logout {
  display: none;
}

@media screen and (max-width: 480px) {

  .nav-left h1 {
    font-size: 30px;
  }

  .nav-link-pic {
    display: none;
  }

  .logout {
    display: block;

  }

}

@media only screen and (max-width: 750px) {

  .logout {
    display: block;
    text-align: center;
    padding: 8px;
    margin-top: 9px;
    margin-left: 3px;
  }

  .logout:hover {
    background-color: $green;
    border-radius: 3px;
  }

  .nav-right {
    display: none;
  }

  .nav-right-reveal {
    display: block;
    height: 180px;
    float: right;
    margin-right: 10px;
    padding: 10px;
    background-color: white;
    position: absolute;
    right: 2px;
    top: 45px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px lightgrey;
    margin-top: 0px;
    z-index: 1;
  }

  .nav-link:hover {
    background-color: $green;
  }

  .nav-link-pic {
    display: none;
  }

  .nav-link {
    float: none;
  }

  .nav-right img {
    display: none;
  }

  .nav-icon {
    display: inline-block;
    float: right;
    width: 30px;
    margin-right: 10px;
    margin-top: 15px;
  }

  .nav-middle {
    display: none;
  }

  .nav-icon:hover {
    cursor: pointer;
  }

  .search-form {
    display: none;
  }

}

@media screen and (max-width: 1050px) {

  .home-search-bar-container {
    display: none;
  }

}


.guest:hover {
  background-color: #363cb6;
  color: $light-green;
}
