@import '../base/colors';

.home-main-text {
  text-align: center;
  font-size: 60px;
  color: $green;
  border-bottom: $green;
  font-weight: bolder;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.apartment-index-container {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 200px;
}

//search bar and button

.search-bar-container {
  width: 70%;
  max-width: 800px;
  height: 50px;
  margin: 0 auto;
}

.search-input-home {
  display: block;
  float: left;
  height: 42px;
  border-radius: 5px 0px 0px 5px;
  font-size: 18px;
  padding-left: 10px;
  margin-left: 0px;
  width: 80%;
  margin-left: 3%;
}

.search-form-home {
  width: 85%;
  margin: 0 auto;
  height: 150px;
}

.search-button-home {
  display: block;
  float: left;
  height: 35px;
  width: 7%;
  padding: 0;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
  border-radius: 0px 5px 5px 0px;
  border-left: none;
  background-color: $green;
}

#home-magnifine-glass {
  width: 35px;
  height: auto;
  margin: 0 auto;
}

// Apartment index section

.apartment-index-item {
  display: block;
  color: white;
  float: left;
  width: 29%;
  height: 100px;
  padding: 10px;
  background-color: $green;
  margin: 1%;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
}

.apartment-index-item:hover {
  cursor: pointer;
  background-color: white;
  color: $green;
  border: 2px solid $green;
  padding: 8px;
}

.apartment-index {
  margin-top: 50px;
}

.featured-apartments-text {
  text-align: center;
  margin: 50px;
  color: $green;
  font-weight: bold;
  font-size: 55px;
}

.street-address-index {
  font-size: 30px;
  margin-top: 20px;
}

.city-state-zip-index {
}

.apartment-index-image {
  paggin: 10px;
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.home-text-container {
  width: 100%;
  padding-bottom: 250px;
  padding-top: 150px;
  background-image: url('http://res.cloudinary.com/aptquirks/image/upload/c_scale,w_1000/v1505524979/skyline_ctdz4m.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {

  .search-input-home {
    width: 76%;
  }

  #home-magnifine-glass {
  }

  .search-button-home {
    width: 30px;
  }

  .search-bar-container {
    width: 100%;
  }

}

@media screen and (max-width: 480px) {

  .home-main-text {
    font-size: 30px;
    margin-bottom: 30px;
    width: 90%;
  }

  // .search-input-home {
  //   height: 25px;
  //   width: 68%;
  //   font-size: 13px;
  //   padding: 0px;
  // }

  // .search-button-home {
  //   height: 18px;
  //   width: 29%;
  //   float: left;
  // }

  .home-text-container {
    padding-top: 50px;
  }

  .featured-apartments-text {
    font-size: 25px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .street-address-index {
    font-size: 15px;
  }

  .apartment-index-container {
    width: 480px;
  }

  .apartment-index-item {
    margin: 0 auto;
    width: 200px;
    float: none;
    margin-left: 80px;
    margin-bottom: 20px;
  }

  .quirks-index-container {
    width: 480px;
  }

  .quirks-header {
    width: 480px;
  }

  .quirk-main-content {
    width: 20%;
  }

  .quirk-index-item {
    width: 480px;
  }

  .footer-content {
    margin-top: 10px;
  }

  .featured-apartments-text {
    width: 380px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .apartment-index-container {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 200px;
  }


  }

  @media only screen and (max-width: 1280px) and (min-width: 480px) {

    // #autocomplete {
    //   width: 70%;
    //   margin-left: 0px;
    // }

    .home-main-text {
      font-size: 50px;
    }

    .home-text-container {
      padding-top: 75px;
    }

  }
