@import '../base/colors';

.home-main-text {
  text-align: center;
  font-size: 60px;
  color: $green;
  border-bottom: $green;
  font-weight: bolder;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
  max-width: 1100px;
}

//search bar and button

.search-bar-container {
  width: 70%;
  max-width: 800px;
  height: 50px;
  margin: 0 auto;
}

.search-input-home {
  display: block;
  float: left;
  height: 42px;
  border-radius: 5px 0px 0px 5px;
  font-size: 18px;
  padding-left: 10px;
  margin-left: 0px;
  width: 80%;
  margin-left: 3%;
}

.search-form-home {
  width: 85%;
  margin: 0 auto;
  height: 150px;
}

.search-button-home {
  display: block;
  float: left;
  height: 35px;
  width: 7%;
  padding: 0;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
  border-radius: 0px 5px 5px 0px;
  border-left: none;
  background-color: $green;
}

#home-magnifine-glass {
  width: 35px;
  height: auto;
  margin: 0 auto;
}

// Apartment index section

.apartment-index-container {
  width: 80%;
  max-width: 1155px;
  margin: 0 auto;
  margin-bottom: 200px;
}

.apartment-index-item {
  display: block;
  float: left;
  color: white;
  width: 390px;
  height: 350px;
  padding: 10px;
  background-image: url("http://res.cloudinary.com/aptquirks/image/upload/v1507407948/apartment_building_drawing_zneqbz.gif");
  background-position: center;
  border-radius: 5px;
  font-size: 25px;
  margin-left: 9%;
  margin-bottom: 30px;
  text-align: center;
}

.apartment-index-item:hover {
  cursor: pointer;
}

.apartment-index {
  margin-top: 50px;
}

.featured-apartments-text {
  text-align: center;
  margin: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  color: darkgrey;
  font-weight: bold;
  font-size: 65px;
}

.street-address-index {
  font-size: 40px;
  margin-top: 150px;
  color: black;
}

.city-state-zip-index {
  color: black;
}

.apartment-index-image {
  paggin: 10px;
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.home-text-container {
  width: 100%;
  height: 100%;
  padding-bottom: 250px;
  padding-top: 150px;
  background-image: url('http://res.cloudinary.com/aptquirks/image/upload/v1507412332/skyline_ssuuh6.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {

  .search-input-home {
    width: 76%;
  }

  #home-magnifine-glass {
  }

  .search-button-home {
    width: 30px;
  }

  .search-bar-container {
    width: 100%;
  }

}

@media screen and (max-width: 480px) {

  .home-main-text {
    font-size: 40px;
    margin-bottom: 30px;
    width: 90%;
  }

  .home-text-container {
    padding-top: 50px;
    padding-bottom: 120px;
  }

  .featured-apartments-text {
    font-size: 35px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .street-address-index {
    font-size: 15px;
  }

  .apartment-index-container {
    width: 480px;
  }

  .apartment-index-item {
    margin: 0 auto;
    width: 320px;
    float: none;
    margin-left: 80px;
    margin-bottom: 20px;
    margin: 0 auto;
  }

  .quirks-index-container {
    width: 480px;
  }

  .quirks-header {
    width: 480px;
  }

  .quirk-main-content {
    width: 20%;
  }

  .quirk-index-item {
    width: 480px;
  }

  .footer-content {
    margin-top: 10px;
  }

  .featured-apartments-text {
    width: 380px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .apartment-index-container {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 200px;
  }


  }

  @media only screen and (max-width: 1280px) and (min-width: 480px) {

    .home-main-text {
      font-size: 47px;
    }

    .home-text-container {
      // padding-top: 75px;
    }

  }

  @media screen and (max-width: 1307px) {
    .apartment-index-item {
      float: none;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }
