@import '../base/colors';
@import '../base/mixins';

.Inbox {
  @include backgroundVector;
  background-image: url('https://res.cloudinary.com/aptquirks/image/upload/v1594410412/Toy_taxi_small_rrguxw.jpg');
  &-itemWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}