@import '../base/colors';
@import '../base/mixins';

.Inbox {
  @include backgroundVector;
  &-itemWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}