@import '../base/colors';
@import '../base/mixins';

.InboxItem {
  background-color: $primary--beige;
  border-radius: 5px;
  height: 45px;
  margin: 6px 15px 6px 12px;
  color: $primary--dark;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover {
    cursor: pointer;
    @include boxShadow;
    font-size: 15px;
  }
  &-mainContentWrapper {
    display: flex;
    align-items: center;
  }
  &-date {
    font-size: 12px;
    opacity: 0.2;
    margin-right: 12px;
  }
  &-userImage {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 0 12px;
  }
  &-username {
    font-size: 14px;
    margin-right: 12px;
    font-weight: bold;
  }
  &-mostRecentMessage {
    display: none;
  }
  @media screen and (min-width: 550px) {
    &-mostRecentMessage {
      display: block;
      width: calc(100% - 180px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}