@import '../base/colors';
@import '../base/mixins';

.InboxItem {
  $root: &;
  background-color: $primary--beige;
  color: $primary--dark;
  width: 100%;
  border-radius: 5px;
  height: 45px;
  margin: 6px 15px 6px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover {
    cursor: pointer;
    #{$root}-date {
      display: none;
    }
    #{$root}-iconsWrapper {
      display: flex;
      align-items: center;
    }
  }
  &, 
  &-placeholder {
    border-radius: 5px;
    height: 45px;
    margin: 6px 15px 6px 12px;
  }
  &-placeholder {
    @include placeholderAnimation;
  }
  &-iconsWrapper {
    display: none;
  }
  &-linkIcon {
    opacity: 1;
    margin-right: 12px;
  }
  &-trashIcon {
    top: 2.5px;
    right: 3.5px;
    color: $primary--dark;
    opacity: 0.1;
    margin-right: 12px;
    &:hover {
      opacity: 0.8;
      #{$root}-linkIconHoverTrigger {
        opacity: 0.5;
      }
    }
  }
  &-mainContentWrapper {
    display: flex;
    align-items: center;
  }
  &-date {
    font-size: 12px;
    opacity: 0.2;
    margin-right: 12px;
  }
  &-userImage {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 0 12px;
  }
  &-username {
    font-size: 14px;
    margin-right: 12px;
    font-weight: bold;
    width: 100px;
  }
  &-mostRecentMessage {
    display: none;
  }
  @media screen and (min-width: 550px) {
    &-mostRecentMessage {
      display: block;
      width: 236px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}