@import "./base/colors";


.LikeButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 18px;
  color: rgba($primary, 0.6);
  position: relative;
  &-isLiked {
    color: $primary;
  }
  &:hover {
    cursor: pointer;
  }
  &-likeCount {
    margin-top: 6.1px;
    margin-left: 8px;
  }
  &-likeErrorMessage {
    position: absolute;
    width: 230px;
    margin: 0 auto;
    top: 22px;
    left: 45px;
    background-color: #ffe5e5;
    border: 1px solid #ff7f7f;
    color: #ff7f7f;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    z-index: 2;
  }
  @media screen and (max-width: 515px) {
    &-likeButton {
      margin-top: 30px;
      margin-right: 0px;
    }
  
    &-likeCount {
      margin: 0px;
      margin-top: 36px;
      margin-left: 5px;
    }
  }
}


