@import '../base/colors';

.MailNavigation {
  margin: 17px 0 16px 0;
  padding-left: 6px;
  border-bottom: 1px solid $primary--light;
  background-color: $primary--dark;
  color: white;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-navItem {
    padding: 6px;
    border-radius: 5px;
    margin: 17px 0 10px 6px;
    cursor: pointer;
  }
  &-activeMessgeLink {
    color: $primary--dark;
    background-color: white;
    border-radius: 3px;
  }
  &-linksWrapper {
    display: flex;
  }
  &-iconsWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &-commentsIcon {
    color: rgba(white, 0.4);
    padding: 4px;
    border-radius: 3px;
    cursor: default;
    margin-right: 8px;
  }
  &-revealCommentsIcon {
    background-color: white;
    color: $primary--dark;
  }
  &-trashIcon {
    color: white;
    opacity: 0.5;
    margin-right: 16px;
  }
  &-hasConversationsToDelete {
    opacity: 1;
    &:hover {
      cursor: pointer;
    }
  }
}