@import '../base/colors';

.MessageIndexItem {
  margin-bottom: 12px;
  &-senderMessage {
    width: 245px;
    margin-left: auto;
    background-color: $primary;
    color: white;
  }
  &-receiverMessage {
    width: 245px;
    margin-right: auto;
    background-color: $primary--beige;
    color: $primary--dark;
  }
  &-senderMessage,
  &-receiverMessage {
    border-radius: 10px;
    margin-bottom: 4px;
    padding: 8px;
  }
  &-createdAt {
    color: rgba($primary--dark, 0.3);
    font-size: 10px;
    padding-bottom: 12px;
  }
  &-createdAtSender {
    text-align: right;
  }
  &-messageMeta {
    display: flex;
    font-size: 11px;
    padding-bottom: 6px;
    color: rgba($primary--dark, 0.4);
    width: 260px;
  }
  &-senderMeta {
    margin-left: auto;
    justify-content: flex-end;
  }
  &-receiverMeta {
    margin-right: auto;
    justify-content: flex-start;
  }
  &-from {
    margin-right: 4px;
  }
}