@import './base/colors';

.UserProfile {
  background-color: white;
  background-image: none;
  max-width: 530px;
  margin: 77px 20px;
  padding: 20px;
  box-shadow: 1px 1px 1px #ccc;
  border-radius: 10px;

  @media screen and (min-width: 550px) {
    margin: 77px auto 40px auto;
    background-image: url("https://res.cloudinary.com/aptquirks/image/upload/v1524241630/building_x4hvkw.jpg");
    background-position: right center;
    background-repeat: no-repeat;
  }

  &-explanation {
    font-size: 40px;
    margin-top: 35px;
    width: 100%;
    color: $primary;
    text-align: center;
  }
  &-pic {
    width: 75px;
    display: block;
    float: left;
    padding: 2%;
    & img {
      border-radius: 100%;
    }
  }
  &-heading {
    margin-top: 20px;
  }
  &-mainContent {
    display: grid;
    grid-template-rows: 1fr 1.2fr 1.2fr;
  }
  &-title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    color: grey;
  }
  &-cityTitle {
    display: block;
    color: grey;
    font-size: 20px;
    margin-bottom: 8px;
  }
  &-formInput {
    box-shadow: 1px 1px 3px lightgrey;
    border: 1px solid lightgrey;
  }
  &-username {
    margin-bottom: 10px;
    color: $primary;
    font-weight: bold;
    margin-top: 20px;
    font-size: 25px;
  }
  &-uploadButton {
    display: block;
    color: white;
    border: 2px solid white;
    background-color: $primary;
  }
  &-cityButton {
    display: block;
    margin-top: 10px;
  }
}
