@import '../base/colors';
@import '../base/fonts';

.quirk-pic {
  width: 50px;
  border-radius: 100%;
  border: solid 1px $grey-green;
}

.quirks-index {
  margin-bottom: 50px;
}

.quirk-index-item {
  padding: 15px 15px 20px 15px;
  margin-top: 15px;
}

.quirks-index-container {
  margin: 0 20px;
}

@media only screen and (min-width: 768px) {
  .quirk-index-item {
    display: flex;
  }
  .quirk-main-content {
    margin-left: 20px;
    margin-top: 0;
  }
  .quirks-index-container {
    min-width: 600px;
    max-width: 600px;
  }
}

.quirk-index-item h4 {
  font-size: 20px;
  font-weight: bold;
}

.quirk-index-item p {
  line-height: 20px;
}

.add-quirk-button {
  display: block;
  float: left;
  background-color: $primary;
  color: white;
  margin-left: 15px;
  width: 80px;
  height: 30px;
  font-size: 18px;
}

.add-quirk-button:hover {
  font-size: 18.5px;
}

.quirks-index-container {
  position: relative;
  background-color: white;
  box-shadow: 1px 1px 1px #ccc;
  overflow-y: scroll;
  border-radius: 0px 10px 10px 0px;
  min-height: 250px;
  margin-top: 0;
}

.timestamp {
  color: grey;
  margin-top: 3px;
}

.quirk-button {
  margin-top: 10px;
}

.quirk-title {
  margin-bottom: 10px;
  display: block;
}

.quirks-header {
  margin-top: 20px;
  margin-bottom: 50px;
  width: 50%;
}

.quirks-header a {
  border: solid 1px $primary;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  margin: 10px;
  background-color: beige;
}

.quirk-username {
  color: $primary;
  font-weight: bold;
  margin-top: 5px;
}

.quirk-user-info {
  width: 260px;
  margin-left: 20px;
}

.quirk-main-content {
  min-width: 350px;
  min-height: 100px;
  width: 100%;
  margin-left: 0;
}

.add-quirk-error-message {
  position: absolute;
  width: 230px;
  margin: 0 auto;
  top: 52px;
  left: 45px;
  background-color: #ffe5e5;
  border: 1px solid #ff7f7f;
  color: #ff7f7f;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
}

.apartment-number {
  color: lightgrey;
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

.whats-a-quirk-text {
  display: block;
  float: left;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  z-index: 2;
}

.reveal-quirk-info {
  position: relative;
}

.quirk-info-absolute {
  position: absolute;
  left: 250px;
  top: -10px;
  width: 300px;
  padding: 5px;
  box-shadow: 0px 2px 5px lightgrey;
  background-color: white;
  border-radius: 8px;
  z-index: 9999;
}

.close-quirk-info {
  display: block;
  float: right;
  text-decoration: underline;
  color: $primary;
  padding-right: 5px;
}

.close-quirk-info:hover {
  color: $primary--light;
  cursor: pointer;
}

.whats-a-quirk {
  color: $primary;
  cursor: pointer;
  padding-top: 13px;
  margin-left: 10px;
  display: block;
  float: left;
}

.whats-a-quirk:hover {
  color: $primary--light;
}

@media screen and (min-width: 1090px) {
  .quirks-index-container {
    max-width: 800px;
    margin: 0;
  }
}

@media screen and (max-width: 1090px) {

  .quirks-index {
    border-radius: 10px;
  }

  .quirks-index-container {
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 15px;
    box-sizing: border-box;
  }

  .quirks-header {
    width: 380px;
  }

  .quirk-pic {
    width: 40px;
  }

  .quirk-user-info {
    min-width: 0px;
    margin-left: 0;
  }

  .quirk-main-content {
    min-width: 0px;
    margin-top: 20px;
    margin-left: 20px;
  }

  .quirk-info-absolute {
    left: 100px;
  }

}

@media screen and (max-width: 768px) {

  .quirks-index-container {
    border-radius: 0px 0px 10px 10px;
    margin: 0 20px;
  }

  .quirks-index {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .quirk-index-item {
    padding: 5px;
  }

  .quirk-main-content {
    width: 100%;
    margin-left: 0px;
  }

  .quirks-header {
    width: 100%;
  }

  .quirk-user-info {
    margin-bottom: 20px;
    margin-left: 0px;
  }

  .add-quirk-button {
    margin-left: 0px;
  }

  .quirk-info-absolute {
    left: 70px;
    z-index: 2;
    width: 200px;
    height: 180px;
  }

}
