@import './base/colors';
@import './base/mixins';

.QuirkForm {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 450px;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: scroll;
  height: 550px;
  &-inputsWrapper {
    margin: 0 20px;
  }
  &-titleSectionWrapper {
    background-color: $primary--dark;
    color: white;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 30px;
  }
  &-title {
    font-size: 42px;
    margin-bottom: 6px;
  }
  &-address {
    font-size: 14px;
  }
  &-button {
    margin: 10px auto 30px auto;
    height: 45px;
  }
  &-closeFormIcon {
    position: absolute;
    top: 12px;
    right: 12px;
    color: rgba(white, 0.9);
    cursor: pointer;
    &:hover {
      color: white;
    }
  }
  &-starRating {
    margin: 12px 0;
  }
  &-ratingTitle {
    margin-bottom: 12px;
    color: $primary--dark;
    font-weight: 600;
  }
}
