@import '../base/colors';
@import '../base/fonts';

.quirk-pic {
  width: 50px;
}

.quirks-index {
  display: block;
  float: left;
  width: 45%;
  margin-bottom: 50px;
  min-width: 400px;
}

.quirk-index-item {
  padding: 15px 15px 0px 15px;
  margin-top: 15px;
  min-width: 550px;
}

.quirk-index-item h4 {
  font-size: 20px;
  font-weight: bold;
}

.quirk-index-item p {
  line-height: 20px;
}

.add-quirk-button {
  display: block;
  float: left;
  background-color: $green;
  color: white;
  margin-left: 15px;
  width: 80px;
  height: 30px;
  font-size: 18px;
}

.add-quirk-button:hover {
  font-size: 18.5px;
}

.quirk-pic {
  width: 50px;
  border-radius: 100%;
  border: solid 1px $grey-green;
}

.quirks-index-container {
  background-color: white;
  box-shadow: 1px 1px 1px #ccc;
  overflow-y: scroll;
  border-radius: 0px 10px 10px 0px;
  margin-top: 17px;
  min-width: 550px;
  min-height: 150px;

}

.timestamp {
  color: grey;
  margin-top: 3px;
}

.quirk-button {
  margin-top: 10px;
}

.quirk-title {
  margin-bottom: 10px;
  display: block;
  float: left;
}

.quirks-header {
  margin-top: 20px;
  margin-bottom: 50px;
  width: 50%;
  min-width: 550px;
}

.quirks-header a {
  border: solid 1px $green;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  margin: 10px;
  background-color: beige;
}

.quirk-username {
  color: $green;
  font-weight: bold;
  margin-top: 5px;
}

.quirk-user-info {
  display: block;
  float: left;
  width: 30%;
  min-width: 160px;
  margin-left: 15px;
}

.quirk-main-content {
  display: block;
  float: left;
  width: 60%;
  min-width: 350px;
  min-height: 100px;
}

.add-quirk-error-message {
  margin-left: 15px;
  margin-top: 10px;
  display: block;
  float: left;
}

.apartment-number {
  color: lightgrey;
  font-size: 14px;
  display: block;
  float: left;
  margin-left: 10px;
}

.whats-a-quirk-text {
  display: block;
  float: left;
  padding: 5px;
  z-index: 1;
}

.reveal-quirk-info {
  position: relative;
}

.quirk-info-absolute {
  position: absolute;
  left: 250px;
  top: -10px;
  width: 300px;
  padding: 5px;
  box-shadow: 0px 2px 5px lightgrey;
  z-index: 9999;
}

.close-quirk-info {
  display: block;
  float: right;
  text-decoration: underline;
  color: $green;
  padding-right: 5px;
}

.close-quirk-info:hover {
  color: $light-green;
  cursor: pointer;
}

.whats-a-quirk {
  color: $green;
  cursor: pointer;
  padding-top: 13px;
  margin-left: 10px;
  display: block;
  float: left;
}

.whats-a-quirk:hover {
  color: $light-green;
}

@media screen and (max-width: 480px) {

    .quirks-index {
      min-width: 480px;
      width: 420px;
      border-radius: 10px;
    }

    .quirks-index-container {
      margin-left: 30px;
      border-radius: 10px;
      min-width: 0px;
      width: 340px;
    }

    .quirk-main-content {
      width: 480px;
    }

    .quirk-pic {
      width: 40px;
    }

    .quirk-user-info {
      min-width: 0px;
      width: 100px;
    }

    .quirk-main-content {
      min-width: 0px;
      width: 200px;
    }

    .quirks-info-absolute {
      left: 500px;
      top: 500px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 950px) {

}

@media only screen and (min-width: 480px) and (max-width: 1080px) {

  .quirks-index {
    width: 480px;
    margin: 0 auto;
    float: none;
    border-radius: 10px;
  }

  .quirks-index-container {
    border-radius: 10px;
    min-width: 0px;
    width: 480px;
  }

  .quirks-index-item {
    width: 380px;
  }

  .quirks-header {
    width: 380px;
  }

  .quirk-pic {
    width: 40px;
  }

  .quirk-user-info {
    min-width: 0px;
    width: 100px;
  }

  .quirk-main-content {
    min-width: 0px;
    width: 200px;
  }

}
