@import '../base/colors';
@import '../base/fonts';

.quirk-pic {
  width: 50px;
  border-radius: 100%;
  border: solid 1px $grey-green;
}

.quirk-index-item {
  padding: 20px 0;
  margin-top: 15px;
}


.quirks-index {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.quirk-index-item {
  padding: 5px;
}

.quirk-main-content {
  width: 100%;
  margin-left: 0px;
}

.quirk-user-info {
  margin-bottom: 20px;
  margin-left: 0px;
}

@media only screen and (min-width: 768px) {
  .quirk-index-item {
    display: flex;
  }
  .quirk-main-content {
    margin-left: 20px;
    margin-top: 0;
  }
}

.quirk-index-item h4 {
  font-size: 20px;
  font-weight: bold;
}

.quirk-index-item p {
  line-height: 20px;
}

.add-quirk-button:hover {
  font-size: 18.5px;
}


.timestamp {
  color: grey;
  margin-top: 3px;
}

.quirk-button {
  margin-top: 10px;
}

.quirk-title {
  margin-bottom: 10px;
  display: block;
}

.quirk-username {
  color: $primary;
  font-weight: bold;
  margin-top: 5px;
}

.quirk-user-info {
  width: 260px;
}

.quirk-main-content {
  min-width: 350px;
  min-height: 100px;
  width: 100%;
  margin-left: 0;
}

.apartment-number {
  color: lightgrey;
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}