@import './base/colors';
@import './base/mixins';

.QuirkForm {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 450px;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  &-titleSectionWrapper {
    background-color: $primary--dark;
    color: white;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 30px;
  }
  &-title {
    font-size: 42px;
    margin-bottom: 6px;
  }
  &-address {
    font-size: 14px;
  }
  &-input {
    @include formInput;
    margin: 20px auto;
    border: 2px solid $light-grey;
    padding-right: 30px;
  }
  &-textAreaInput {
    height: 102px;
  }
  &-inputWrapper {
    position: relative;
  }
  &-checkmark {
    position: absolute;
    right: 70px;
    top: 35px;
    color: $sucessMessage--green;
  }
  &-button {
    margin: 10px auto 30px auto;
    height: 45px;
  }
  &-closeFormIcon {
    position: absolute;
    top: 12px;
    right: 12px;
    color: rgba(white, 0.9);
    cursor: pointer;
    &:hover {
      color: white;
    }
  }
}
