@import '../base/mixins';

.QuirkReviewStarsFeature {
  background-color: white;
  border-radius: 3px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 24px;
  overflow: hidden;
  @include boxShadow;
  &-hideStarRatings {
    display: none;
  }
  &-revealStarRatings {
    display: block;
  }
  &-moreLink {
    color: $primary;
    font-size: 16px;
    text-decoration: underline;
    &:hover {
      cursor: pointer;
    }
  }
}