@import "./base/colors";
@import './base/mixins';

.SessionFormWrapper {
  @include backgroundVector;
}

.SessionForm {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
  max-width: 450px;
  margin: 110px auto;
  background-color: white;
  border-radius: 10px;
  width: 90%;
  &-input {
    margin: 6px 0 20px 0;
    border: 1px solid lightgrey;
  }
  &-header {
    font-size: 50px;
    padding: 15px 0 15px 0;
    margin-bottom: 30px;
    background-color: $primary--dark;
    color: white;
    width: 100%;
    border-radius: 10px 10px 0 0;
    text-align: center;
  }
  &-errors {
    position: absolute;
    width: 230px;
    margin: 0 auto;
    top: -38px;
    left: 66px;
    background-color: #ffe5e5;
    border: 1px solid #ff7f7f;
    color: #ff7f7f;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
  }
  &-recaptcha {
    margin: 0 auto;
    margin-bottom: 12px;
  }
  &-inputWrapper {
    position: relative;
  }
  &-checkmark {
    position: absolute;
    right: 10px;
    top: 19px;
    color: $sucessMessage--green;
  }
  &-termsAndConditionsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }
  &-termsAndConditionsLink {
    color: $primary;
    &:hover {
      opacity: 0.8;
    }
  }
  &-checkboxWrapper {
    margin-right: 10px;
  }
}
