@import "./base/colors";

.SessionFormWrapper {
  max-width: 450px;
  margin: 0 auto;
  background-color: white;
  margin-top: 130px;
  border-radius: 10px;
}

.SessionForm {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
  &-input {
    margin: 6px 0 20px 0;
    border: 1px solid lightgrey;
  }
  &-header {
    font-size: 50px;
    padding: 15px 0 15px 0;
    margin-bottom: 30px;
    background-color: $primary--dark;
    color: white;
    width: 100%;
    border-radius: 10px 10px 0 0;
    text-align: center;
  }
  &-errors {
    position: absolute;
    width: 230px;
    margin: 0 auto;
    top: -38px;
    left: 66px;
    background-color: #ffe5e5;
    border: 1px solid #ff7f7f;
    color: #ff7f7f;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
  }
  &-recaptcha {
    margin: 0 auto;
    margin-bottom: 12px;
  }
}
