@import '../base/mixins';
@import '../base/colors';

.Sweepstakes {
  width: 100%;
  background-image: url('https://res.cloudinary.com/aptquirks/image/upload/v1594828922/giveaway_image_l9bnng.jpg');
  background-position: center;
  background-size: cover;
  padding: 30px 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary--dark;
  text-align: left;
  margin-top: 60px;
  min-height: 80vh;
  &-mainContent {
    background-color: white;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 12px;
    padding-bottom: 12px;
  }
  &-headingWrapper {
    background-color: $primary--dark;
    color: white;
    padding: 20px 20px;
    border-radius: 10px 10px 0 0;
  }
  &-headingText {
    font-size: 20px; 
    padding-bottom: 12px;
    letter-spacing: 1px;
    line-height: 1.2;
    font-weight: 600;
  }
  &-subHeading {
    line-height: 1.5;
    max-width: 330px;
    font-size: 13px;
  }
  &-inputTitle {
    margin-top: 8px;
  }
  &-inputsWrapper {
    margin: 16px auto;
    width: 90%;
  }
  &-bottomSectionWrapper {
    width: 100%;
    text-align: center;
  }
  &-button {
    background-color: $primary;
    width: 150px;
    color: white;
    height: 50px;
    font-size: 17px;
    border: none;
    margin-top: 32px;
  }
  &-starRating {
    margin: 20px auto 0 auto;
  }
  &-successMessage {
    text-align: center;
    color: black;
    font-size: 24px;
    margin-bottom: 12px;
  }
  &-autoCompleteWrapper {
    position: relative;
  }
  &-autoCompleteCheckmark {
    position: absolute;
    top: 39px;
    right: 10px;
    color: $sucessMessage--green;
  }
  &-successCheckmark {
    color: $sucessMessage--green;
    margin-left: 12px;
  }
  &-successMessageWrapper {
    border-radius: 10px;
    padding: 19px;
    margin: 50px 0;
    max-width: 275px;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  &-successMessageAndIcon {
    width: 290px;
    margin: 12px 0;
  }
  &-shareOurPage {
    max-width: 250px;
    margin: 0 auto 18px auto;
    font-size: 16px;
    text-align: center;
  }
  &-usernameError {
    color: $error--primary;
  }
  &-termsAndConditionsWrapper {
    margin: 20px 0;
  }
  &-conditions {
    margin: 20px auto;
    line-height: 1.3;
    max-width: 300px;
  }
  &-starRatingText {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 266px;
    margin: 0 auto;
    color: rgba(grey, 0.8);
    font-size: 12px;
  }
  &-termsAndConditionsLink,
  &-privacyPolicy,
  &-rules {
    color: $primary;
    &:hover {
      cursor: pointer;
    }
  }
  &-shareButtons {
    display: flex;
    flex-direction: column;
  }
  &-facebookLink {
    margin: 12px;
    color: $primary;
    font-size: 14px;
  }
  &-socialIconsWrapper {
    margin: 16px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $primary;
  }
  &-socialIcon {
    width: 70px;
  }
  @media screen and (min-width: 450px) {
    &-successMessageWrapper {
      min-width: 320px;
    }
  }
  @media screen and (min-width: 768px) {
    &-subHeading {
      font-size: 14px;
    }
    &-headingText { 
      font-size: 24px; 
    }
  }
}