@import '../base/colors';

.SweepstakesInput {
  position: relative;
  &-input {
    border: 1px solid lightgrey;
    width: 100%;
    margin: 6px 0;
    border: 1px solid lightgrey;
    height: 32px;
    padding: 24px;
    padding-left: 12px;
    box-sizing: border-box;
    color: $primary--dark;
    font-weight: bold;
  }
  &-checkmark {
    position: absolute;
    right: 10px;
    top: 23px;
    color: $sucessMessage--green;
  }
  &-textAreaInput {
    height: 100px;
  }
}