@import "../base/colors";

.SweepstakesInput {
  position: relative;
  &-input {
    border: 1px solid lightgrey;
    width: 100%;
    margin: 6px 0;
    border: 1px solid lightgrey;
    height: 32px;
    padding: 12px 32px 12px 12px;
    box-sizing: border-box;
    font-weight: normal;
    min-height: 40px;
  }
  &-checkmark {
    position: absolute;
    right: 10px;
    top: 23px;
    color: $sucessMessage--green;
  }
  &-textAreaInput {
    height: 100px;
  }
  &--isValid {
    border: 1px solid $sucessMessage--green;
  }
  &--failedValidation {
    border: 1px solid $error--primary;
  }
}
