@import '../base/mixins';
@import '../base/colors';

.Sweepstakes {
  @include backgroundVector;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary--dark;
  text-align: left;
  &-headingWrapper {
    background-color: $primary--dark;
    color: white;
    padding: 6px;
    padding-bottom: 20px;
  }
  &-mainContent {
    background-color: white;
    border-radius: 10px;
    max-width: 500px;
    height: 600px;
    overflow: scroll;
    margin: 0 auto;
  }
  &-headingText {
    width: 90%;
    margin: 0 auto;
    padding: 12px;  
    font-size: 28px; 
    text-align: center; 
  }
  &-subHeading {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
    max-width: 320px;
  }
  &-inputTitle {
    margin-top: 8px;
  }
  &-inputsWrapper {
    margin: 16px auto;
    width: 350px;
    padding: 20px;
  }
  &-bottomSectionWrapper {
    width: 100%;
    text-align: center;
  }
  &-button {
    background-color: $primary;
    width: 150px;
    color: white;
    height: 50px;
    font-size: 17px;
    border: none;
  }
  &-starRating {
    margin: 20px auto;
  }
  &-successMessage {
    text-align: center;
    color: black;
    font-size: 24px;
  }
  &-autoCompleteWrapper {
    position: relative;
  }
  &-autoCompleteCheckmark {
    position: absolute;
    top: 39px;
    right: 10px;
    color: $sucessMessage--green;
  }
  &-successCheckmark {
    color: $sucessMessage--green;
    margin-top: 8px;
  }
  &-successMessageWrapper {
    border: 3px solid $sucessMessage--green;
    border-radius: 10px;
    padding: 19px;
    margin: 50px auto;
    max-width: 275px;
    text-align: center;
    font-size: 20px;
  }
  &-shareOurPage {
    max-width: 250px;
    margin: 0 auto;
    font-size: 16px;
  }
  &-usernameError {
    color: $error--primary;
  }
  &-termsAndConditionsWrapper {
    margin: 20px 0;
  }
  &-conditions {
    margin: 20px 0;
  }
  &-termsAndConditionsLink,
  &-privacyPolicy,
  &-rules {
    color: $primary;
    &:hover {
      color: $primary--dark;
      cursor: pointer;
    }
  }
}

.SweepstakesInput {
  position: relative;
  &-input {
    border-radius: 0px;
    border: 1px solid lightgrey;
    max-width: 330px;
    width: 100%;
    margin: 6px 0;
    border: 1px solid lightgrey;
    height: 32px;
    padding: 8px;
    padding-left: 12px;
  }
  &-checkmark {
    position: absolute;
    right: 10px;
    top: 23px;
    color: $sucessMessage--green;
  }
  &-textAreaInput {
    height: 100px;
  }
}