@import '../base/colors';


.user-search-index {
  width: 60%;
  margin-left: 22px;
}

.user-search-index-item {
  border: 1px solid lightgrey;
  padding: 5px;
}

.user-search-index-item:hover {
  color: $primary;
  cursor: pointer;
  background-color: $primary--light;
}

#user-search-input {
  width: 300px;
  box-shadow: 0px 1px 5px #ccc;
  font-size: 18px;
}

.new-message-form {
  margin-left: 17px;
}

.user-search-label {
  color: $primary;
  font-size: 20px;
}
