@import "./base/colors";

.UserProfile {
  background-color: white;
  background-image: none;
  max-width: 650px;
  margin: 77px 20px;
  padding-bottom: 20px;
  box-shadow: 1px 1px 1px #ccc;
  border-radius: 10px;
  min-height: 500px;
  color: $primary--dark;
  @media screen and (min-width: 550px) {
    margin: 130px auto 40px auto;
    background-image: url("https://res.cloudinary.com/aptquirks/image/upload/v1524241630/building_x4hvkw.jpg");
    background-position: right center;
    background-repeat: no-repeat;
  }
  &-userGreeting {
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    padding: 20px;
    font-size: 25px;
    background-color: $primary--dark;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
  }
  &-editIcon {
    &:hover {
      cursor: pointer;
      color: $primary--light;
    }
  }
  &-mainContentWrapper {
    padding: 0 20px;
    background-color: $light-grey;
    width: 326px;
    border-radius: 10px;
    margin: 0 30px 0 30px;
  }
  &-pic {
    width: 75px;
    margin-right: 16px;
    & img {
      border-radius: 100%;
    }
  }
  &-heading {
    margin: 30px;
    display: flex;
    align-items: center;
  }
  &-title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    color: grey;
  }
  &-userInfoItem {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  &-info {
    display: flex;
    margin-top: 12px;
    font-size: 18px;
    height: 32px;
  }
  &-cityTitle {
    font-size: 20px;
    margin-bottom: 8px;
  }
  &-uploadButton {
    border: 2px solid #f1f1f1;
    border-radius: 0px;
    padding: 6px;
    color: grey;
    background-color: white;
    margin-top: 4.5px;
    margin-right: 5.5px;
  }

  &-title {
    background-color: $primary--dark;
    color: white;
    border-radius: 10px;
    width: 120px;
    padding: 6px;
    border-radius: 10px;
    font-size: 14px;
  }
}
