@import "../base/colors";

.UserSearchIndex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  &-contentWrapper {
    margin-top: 40px;
    display: flex;
    align-items: center;
    color: $primary--dark;
  }
  &-input {
    box-shadow: 0px 1px 5px grey;
    font-size: 16px;
    padding: 16px;
    margin-left: 10px;
    border-radius: 10px;
    width: calc(100% - 24px);
  }
  &-indexItems {
    box-shadow: 0px 1px 5px $grey;
    margin: 6px 0 0 48px;
  }
}
