@import "./base/colors";
@import '../base/mixins';

.UserProfileInput {
  &-inputWrapper {
    display: flex;
    margin-top: 12px;
    font-size: 12px;
    color: $light-grey;
  }
  &-formInput {
    box-shadow: 1px 1px 3px lightgrey;
    border: 1px solid lightgrey;
    width: 200px;
    height: 30px;
    border-radius: 3px;
    padding-left: 8px;
  }
  &-saveButton {
    @include greyButton;
    margin-left: 6px;
  }
}