@import './base/colors';

.apartment-show {
  display: block;
  float: left;
  width: 30%;
  background-color: white;
  margin-right: 17px;
  margin-left: 11%;
  padding: 15px;
  box-shadow: 1px 1px 1px #ccc;
  border-radius: 10px 0px 0px 10px;
}

.apartment-show h1 {
  font-weight: bold;
  width: 70%;
  margin-bottom: 10px;
  color: $dark-green;
  padding: 10px;
}

.city-state-zip {
  font-weight: bold;
  width: 70%;
  margin-bottom: 10px;
  color: $dark-green;
  padding: 10px;
}

.like-button,
.like-count {
  display: block;
  float: left;
  padding-right: 5px;
}

.apartment-map {
  margin-bottom: 10px;
}

.like-count {
  line-height: 1.8px;
}

#map-container {
  height: 400px;
  width: 400px;
  padding-bottom: 20px;
}
